<html>
  <head>
    <title>Editer un potin</title>
  </head>
  <body>
    <br/> 
    <p>Mettre à jour le potin <%= id%> :</p> 
    <form action='/gossips/edit/' method='POST'> 
        <% gossips.each do |gossip| %>
            Nom :  <input type='text' name='gossip_author' value="<%= gossip.author %>" /><br/> 
            Potin : <input type='text' name='gossip_content' value="<%= gossip.content %>" /><br/> 
         <% end %>
        <input type='hidden' name='id' value='<%= id %>'/>
        <input class="btn btn-primary" type='submit'/> 
    </form> 
  </body>
</html>